.header {
  align-items: center;
  background-color: $background-color;
  display: flex;
  height: 80px;
  margin-bottom: 80px;
  position: relative;
  justify-content: space-between;
  width: 100%;

  #{&}-left-container {
    align-items: center;
    display: flex;
    gap: 32px;
    height: 100%;

    a {
      color: $primary-color;
      font-size: 16px;
      font-weight: 600;
      line-height: 80px;
      text-decoration: none;

      &:hover {
        color: $accent-color;
      }
    }

    .header-link-page-selected {
      border-bottom: 2px solid $accent-color;

      a {
        padding: 4px;
        color: $accent-color;
      }
    }
  }

  #{&}-center-container {
    img {
      height: 30.18px;
      width: 31.16px;
    }
  }

  #{&}-right-container {
    align-items: center;
    display: flex;
    gap: 22px;
    justify-content: flex-end;

    .currency-switcher {
      &-header {
        position: relative;

        button {
          background: $background-color;
          border: none;
          font-size: 18px;
          height: 29px;
          width: 38px;

          &:hover {
            cursor: pointer;
          }

          img {
            position: absolute;
            top: 12px;
            right: 0px;
          }
        }
      }

      &-icon-closed {
        right: 42px;
        top: 22px;
      }

      &-icon-open {
        right: 42px;
        top: 22px;
        transform: rotate(180deg);
      }

      &-body {
        align-items: center;
        background-color: $background-color;
        display: flex;
        filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
        flex-direction: column;
        gap: 21px;
        height: auto;
        position: absolute;
        top: 60px;
        width: 114px;

        button {
          background: $background-color;
          border: none;
          height: 29px;
          width: 54px;

          &:hover {
            cursor: pointer;
          }
        }

        button:first-of-type {
          margin-top: 20px;
        }

        button:last-of-type {
          margin-bottom: 20px;
        }
      }
    }

    .cart-overlay {
      &-header {
        button {
          background: $background-color;
          border: none;
          padding-top: 4px;

          img {
            height: 18px;
            width: 20px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      &-body {
        height: 100%;
        left: 380px;
        position: absolute;
        top: 80px;

        &-title {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 25px;
          padding: 8px 16px 8px;

          &-quantity {
            font-weight: 300;
          }
        }

        &-products-container {
          background-color: white;
          padding: 8px 16px;
          width: 325px;

          .cart-overlay-body-product {
            height: 137px;
            margin-bottom: 50px;
            position: relative;
            width: 293px;

            &-title-container {
              align-items: flex-start;
              display: flex;
              flex-wrap: wrap;
              height: 52px;
              line-height: 26.5px;
              width: 136px;

              h2 {
                font-size: 16px;
                font-weight: 300;
              }
            }

            &-price {
              font-size: 16px;
              font-weight: 500;
              margin-top: 15px;
            }

            &-attributes-container {
              margin-top: 27px;

              .attribute-name {
                display: none;
              }

              button {
                cursor: default;
                font-size: 14px;
                font-weight: 400;
                height: 24px;
                margin-right: 8px;
                pointer-events: none;
                width: 24px;
              }

              button.not-selected {
                background: rgba(166, 166, 166, 0.2) !important;
                border: 1px solid #a6a6a6;
                color: #a6a6a6;
              }

              button.selected {
                border: 1px solid black;
                color: black;
              }
            }

            &-quantity-container {
              align-items: center;
              display: flex;
              flex-direction: column;
              height: 137px;
              justify-content: space-between;
              position: absolute;
              top: 0;
              right: 115px;
              width: 24px;

              button {
                background-color: white;
                border: 1px solid black;
                font-size: 30px;
                font-weight: 200;
                height: 24px;
                line-height: 20px;
                width: 24px;
              }
            }

            &-img-container {
              height: 137px;
              position: absolute;
              right: 0;
              top: 0;
              width: 105px;

              img {
                object-fit: cover;
                height: 137px;
                width: 105px;
              }
            }
          }
        }

        &-total-container {
          position: relative;
          h2 {
            font-size: 16px;
            font-weight: 500;

            span {
              font-weight: 700;
              position: absolute;
              right: 36px;
            }
          }
        }

        &-bag-and-checkout-container {
          display: flex;
          justify-content: space-between;
          margin-top: 35px;

          button.view-bag-button {
            background-color: $background-color;
            border: 1px solid black;
            color: black;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            height: 43px;
            width: 140px;
          }

          button.checkout-button {
            background-color: $accent-color;
            border: none;
            color: $background-color;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            height: 43px;
            margin-right: 36px;
            width: 140px;
          }
        }
      }
    }
  }
}
