@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Source+Sans+3:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin-bottom: 72px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header .header-left-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  height: 100%;
}

.header .header-left-container a {
  color: #1d1f22;
  font-size: 16px;
  font-weight: 600;
  line-height: 80px;
  text-decoration: none;
}

.header .header-left-container a:hover {
  color: #5ece7b;
}

.header .header-left-container .header-link-page-selected {
  border-bottom: 2px solid #5ece7b;
}

.header .header-left-container .header-link-page-selected a {
  padding: 4px;
  color: #5ece7b;
}

.header .header-center-container img {
  height: 30.18px;
  width: 31.16px;
}

.header .header-right-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header-right-container .currency-switcher-header {
  position: relative;
}

.header .header-right-container .currency-switcher-header button {
  background: #ffffff;
  border: none;
  font-size: 18px;
  height: 29px;
  width: 38px;
}

.header .header-right-container .currency-switcher-header button:hover {
  cursor: pointer;
}

.header .header-right-container .currency-switcher-header button img {
  position: absolute;
  top: 12px;
  right: 0px;
}

.header .header-right-container .currency-switcher-icon-closed {
  right: 42px;
  top: 22px;
}

.header .header-right-container .currency-switcher-icon-open {
  right: 42px;
  top: 22px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .header-right-container .currency-switcher-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
          filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
  height: auto;
  position: absolute;
  top: 60px;
  width: 114px;
}

.header .header-right-container .currency-switcher-body button {
  background: #ffffff;
  border: none;
  height: 29px;
  width: 54px;
}

.header .header-right-container .currency-switcher-body button:hover {
  cursor: pointer;
}

.header .header-right-container .currency-switcher-body button:first-of-type {
  margin-top: 20px;
}

.header .header-right-container .currency-switcher-body button:last-of-type {
  margin-bottom: 20px;
}

.header .header-right-container .cart-overlay {
  z-index: 3;
}

.header .header-right-container .cart-overlay .fade-background {
  background: rgba(57, 55, 72, 0.22);
  min-height: 100vh;
  left: -117px;
  margin: 0;
  position: absolute;
  top: 79px;
  width: 100vw;
  z-index: 3;
}

.header .header-right-container .cart-overlay-header {
  position: relative;
}

.header .header-right-container .cart-overlay-header button {
  background: #ffffff;
  border: none;
  padding-top: 4px;
}

.header .header-right-container .cart-overlay-header button img {
  height: 18px;
  width: 20px;
}

.header .header-right-container .cart-overlay-header button:hover {
  cursor: pointer;
}

.header .header-right-container .cart-overlay-header .cart-overlay-product-counter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -10px;
  top: -7px;
  width: 20px;
}

.header .header-right-container .cart-overlay-header .cart-overlay-product-counter h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.header .header-right-container .cart-overlay-body {
  background-color: #ffffff;
  right: -10px;
  position: absolute;
  top: 79px;
  width: 325px;
  z-index: 3;
}

.header .header-right-container .cart-overlay-body-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
  padding: 8px 16px 8px;
}

.header .header-right-container .cart-overlay-body-title-quantity {
  font-weight: 300;
}

.header .header-right-container .cart-overlay-body-products-container {
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-left: 16px;
  width: 293px;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product {
  min-height: 137px;
  margin-bottom: 50px;
  position: relative;
  width: 293px;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-title-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 52px;
  line-height: 26.5px;
  width: 136px;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-title-container h2 {
  font-size: 16px;
  font-weight: 300;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-price {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-attributes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 27px;
  width: 140px;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-attributes-container .attribute-name {
  display: none;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-attributes-container button {
  cursor: default;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  margin-right: 8px;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  width: 24px;
  white-space: nowrap;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-attributes-container button.not-selected {
  background: rgba(166, 166, 166, 0.2) !important;
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-attributes-container button.not-selected-swatch {
  border: 1px solid black;
  opacity: 0.4;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-attributes-container button.selected {
  border: 1px solid black;
  color: black;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-attributes-container button.selected-swatch {
  border: 1px solid black;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-quantity-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  right: 115px;
  width: 24px;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-quantity-container button {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 30px;
  font-weight: 200;
  height: 24px;
  line-height: 20px;
  width: 24px;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-img-container {
  height: 137px;
  position: absolute;
  right: 0;
  top: 0;
  width: 105px;
}

.header .header-right-container .cart-overlay-body-products-container .cart-overlay-body-product-img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 137px;
  width: 105px;
}

.header .header-right-container .cart-overlay-body-total-container {
  background-color: #ffffff;
  position: relative;
  width: 293px;
}

.header .header-right-container .cart-overlay-body-total-container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.header .header-right-container .cart-overlay-body-total-container h2 span {
  font-weight: 700;
  position: absolute;
  right: 8px;
}

.header .header-right-container .cart-overlay-body-bag-and-checkout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.header .header-right-container .cart-overlay-body-bag-and-checkout-container button.view-bag-button {
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 43px;
  width: 140px;
}

.header .header-right-container .cart-overlay-body-bag-and-checkout-container button.checkout-button {
  background-color: #5ece7b;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 43px;
  width: 140px;
}

.product-card,
.product-card-out {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 444px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 103px;
  position: relative;
  width: 386px;
}

.product-card a,
.product-card-out a {
  text-decoration: none;
}

.product-card .product-card-img-container,
.product-card-out .product-card-img-container {
  height: 330px;
  width: 354px;
}

.product-card .product-card-img,
.product-card-out .product-card-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -20px;
     object-position: 0 -20px;
  height: 330px;
  width: 354px;
}

.product-card .product-card-name,
.product-card-out .product-card-name {
  color: #1d1f22;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 5px;
  padding-top: 24px;
}

.product-card .product-card-price,
.product-card-out .product-card-price {
  color: #1d1f22;
  font-size: 18px;
  font-weight: 500;
}

.product-card-hover-cart-button {
  visibility: hidden;
}

.product-card:hover {
  -webkit-box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product-card:hover .product-card-hover-cart-button {
  background: #5ece7b;
  border: none;
  border-radius: 50%;
  bottom: 70px;
  cursor: pointer;
  height: 52px;
  position: absolute;
  right: 25px;
  visibility: visible;
  width: 52px;
}

.product-card:hover .product-card-hover-cart-button img {
  bottom: 15px;
  height: 21.6px;
  position: absolute;
  right: 15px;
  width: 24px;
}

.product-card-out {
  cursor: default;
  pointer-events: none;
}

.product-card-out-fade {
  background: rgba(255, 255, 255, 0.4);
  height: 444px;
  position: absolute;
  width: 386px;
}

.product-card-out .out-of-stock {
  position: relative;
}

.product-card-out .out-of-stock-text {
  color: #8d8f9a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  top: 150px;
  left: 92px;
}

.category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  margin-top: 93px;
}

.attributes-container button {
  height: 50px;
  width: 50px;
}

.product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-details-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32.39px;
  height: 513px;
  width: 80px;
}

.product-details-gallery-container .gallery-img {
  border: none;
  cursor: pointer;
  height: 80px;
  width: 80px;
}

.product-details-gallery-container .gallery-img img {
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
}

.product-details-main-img-container {
  height: 610px;
  margin-left: 25.42px;
  margin-right: 100px;
  width: 511px;
}

.product-details-main-img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 610px;
  width: 511px;
}

.product-details-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 513px;
  width: 300px;
}

.product-details-info-title h1:first-of-type {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
}

.product-details-info-title h1:last-of-type {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 43px;
}

.product-details-info-attributes-container {
  margin-bottom: 30px;
}

.product-details-info-attributes-container h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.product-details-info-attributes-container button {
  border: 1px solid black;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 43px;
  margin-right: 12px;
  margin-bottom: 12px;
  width: 63px;
}

.product-details-info-attributes-container button.selected {
  background: black !important;
  color: #ffffff;
}

.product-details-info-attributes-container button.selected-swatch {
  -webkit-box-shadow: 3px 3px 3px #7e7e7e;
          box-shadow: 3px 3px 3px #7e7e7e;
}

.product-details-info-price-container h2:first-of-type {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.product-details-info-price-container h2:last-of-type {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.product-details-info-cart-button-container button {
  background: #5ece7b;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 52px;
  margin-bottom: 56px;
  width: 288px;
}

.product-details-info-cart-button-container button:disabled {
  cursor: default;
  opacity: 0.5;
}

.cart-container {
  margin-top: 59px;
}

.cart-container .cart-item {
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1089px;
}

.cart-container .cart-item-left-brand-name {
  color: #1d1f22;
  font-size: 30px;
  font-weight: 600;
  padding-top: 20px;
}

.cart-container .cart-item-left-name {
  color: #1d1f22;
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
}

.cart-container .cart-item-left-price {
  color: #1d1f22;
  font-size: 24px;
  font-weight: 700;
  margin-top: 12px;
}

.cart-container .cart-item-left-attributes-container .attributes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
  margin-top: 24px;
  max-width: 300px;
}

.cart-container .cart-item-left-attributes-container .attributes-container .attribute-name {
  display: none;
}

.cart-container .cart-item-left-attributes-container .attributes-container button {
  border: 1px solid black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  width: 63px;
}

.cart-container .cart-item-left-attributes-container .attributes-container button.selected {
  background: black !important;
  color: #ffffff;
}

.cart-container .cart-item-left-attributes-container .attributes-container button.selected-swatch {
  -webkit-box-shadow: 3px 3px 3px #7e7e7e;
          box-shadow: 3px 3px 3px #7e7e7e;
}

.cart-container .cart-item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.cart-container .cart-item-right-quantity-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 24.5px;
  width: 24px;
}

.cart-container .cart-item-right-quantity-container button {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 45px;
  font-weight: 100;
  height: 45px;
  line-height: 25px;
  width: 45px;
}

.cart-container .cart-item-right-gallery-container {
  height: 185px;
  padding-top: 24.5px;
  width: 141px;
}

.cart-container .cart-item-right-gallery-container img {
  height: 185px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 141px;
}

body {
  padding: 0px 102px 28px 102px;
}

.category-title {
  font-size: 42px;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */