@import "./config", "./header", "./productCard", "./category", "./attributes",
  "./productDetails", "./cart";

.body-wrapper {
  padding: 0px 102px;
}

.category-title {
  font-size: 42px;
  font-weight: 400;

  &-cart {
    font-size: 32px;
    font-weight: 700;
  }
}
