.product-card,
.product-card-out {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 444px;
  justify-content: center;
  margin-bottom: 103px;
  position: relative;
  width: 386px;
  z-index: 5;

  a {
    text-decoration: none;
  }

  .product-card-img-container {
    height: 330px;
    width: 354px;
  }

  .product-card-img {
    object-fit: cover;
    object-position: 0 -20px;
    height: 330px;
    width: 354px;
  }

  .product-card-name {
    color: $primary-color;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 5px;
    padding-top: 24px;
  }

  .product-card-price {
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
  }
}

.product-card-hover-cart-button {
  visibility: hidden;
}

.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);

  .product-card-hover-cart-button {
    background: $accent-color;
    border: none;
    border-radius: 50%;
    bottom: 70px;
    cursor: pointer;
    height: 52px;
    position: absolute;
    right: 25px;
    visibility: visible;
    width: 52px;

    img {
      bottom: 15px;
      height: 21.6px;
      position: absolute;
      right: 15px;
      width: 24px;
    }
  }
}

.product-card-out {
  cursor: pointer;

  &-fade {
    background: rgba(255, 255, 255, 0.4);
    height: 444px;
    left: 0;
    position: absolute;
    top: 0;
    width: 386px;

    &:hover {
      box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    }
  }

  .out-of-stock {
    position: relative;

    &-text {
      color: #8d8f9a;
      display: flex;
      font-size: 24px;
      font-weight: 400;
      position: absolute;
      top: 150px;
      left: 92px;
    }
  }
}
