.product-details {
  display: flex;
  margin-bottom: 50px;

  &-gallery-container {
    display: flex;
    flex-direction: column;
    gap: 32.39px;
    // height: 511px;
    // overflow-y: scroll;
    width: 105px;

    .gallery-img {
      border: none;
      cursor: pointer;
      height: 80px;
      width: 80px;

      img {
        height: 80px;
        object-fit: cover;
        width: 80px;
      }
    }
  }

  &-main-img-container {
    height: 511px;
    margin-left: 25.42px;
    margin-right: 100px;
    position: relative;
    width: 610px;

    img {
      object-fit: cover;
      object-position: top;
      height: 511px;
      width: 610px;
    }

    .product-card-out-fade {
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;

      &:hover {
        box-shadow: none;
      }
    }

    .out-of-stock {
      h2 {
        bottom: 240px;
        font-size: 24px;
        font-weight: 400;
        height: 30px;
        left: 215px;
        position: absolute;
        width: 180px;
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    // height: 511px;
    // overflow-y: scroll;
    width: 320px;

    &-title {
      h1:first-of-type {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 16px;
      }

      h1:last-of-type {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 43px;
      }
    }

    &-attributes-container {
      margin-bottom: 30px;

      h2 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      button {
        border: 1px solid black;
        cursor: pointer;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 43px;
        margin-right: 12px;
        margin-bottom: 12px;
        width: 63px;
      }

      button.selected {
        background: black !important;
        color: $background-color;
      }

      button.selected-swatch {
        box-shadow: 3px 3px 3px rgb(126, 126, 126);
      }
    }

    &-price-container {
      h2:first-of-type {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      h2:last-of-type {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
      }
    }

    &-cart-button-container {
      button {
        background: $accent-color;
        border: none;
        color: $background-color;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 52px;
        margin-bottom: 40px;
        width: 288px;
      }

      button:disabled {
        cursor: default;
        opacity: 0.5;
      }
    }

    &-description-container {
      p {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.product-details-out {
  .attributes-container {
    button {
      pointer-events: none;
    }
  }
}
